<div id="home-container">
    <div id="name-header">
        <h1>Michael Vanderwood - iOS Developer</h1>
    </div>

    <!-- <div id="skill-list">
        <ul>
            <li class="skill-item-line" id="-skill-section">Mobile -- 
                <span class="skill-item">Swift <%= image_tag asset_path("skill-logos/swift.png"), class: 'skill-logo' %></span>
                <span class="skill-item">iOS <%= image_tag asset_path("skill-logos/ios.png"), class: 'skill-logo' %></span>
                <span class="skill-item">Objective-C <%= image_tag asset_path("skill-logos/objective-c.png"), class: 'skill-logo' %></span>
                <span class="skill-item">UIKit <%= image_tag asset_path("skill-logos/uikit.png"), class: 'skill-logo' %></span>
                <span class="skill-item">MapKit <%= image_tag asset_path("skill-logos/mapkit.png"), class: 'skill-logo' %></span>
                <span class="skill-item">XCTest <%= image_tag asset_path("skill-logos/xctest.png"), class: 'skill-logo' %></span>
            </li>
            <li class="skill-item-line" id="-skill-section">Server-side -- 
                <span class="skill-item">Rails <%= image_tag asset_path("skill-logos/rails.png"), class: 'skill-logo' %></span>
                <span class="skill-item">Ruby <%= image_tag asset_path("skill-logos/ruby.png"), class: 'skill-logo' %></span>
                <span class="skill-item">Postgres <%= image_tag asset_path("skill-logos/postgres.png"), class: 'skill-logo' %></span>
                <span class="skill-item">RSpec <%= image_tag asset_path("skill-logos/rspec.png"), class: 'skill-logo' %></span>
                <span class="skill-item">Sidekiq <%= image_tag asset_path("skill-logos/sidekiq.png"), class: 'skill-logo' %></span>
            </li>
            <li class="skill-item-line" id="-skill-section">Web Development -- 
                <span class="skill-item">Javascript <%= image_tag asset_path("skill-logos/javascript.png"), class: 'skill-logo' %></span>
                <span class="skill-item">HTTP <%= image_tag asset_path("skill-logos/http.png"), class: 'skill-logo' %></span>
                <span class="skill-item">HTML <%= image_tag asset_path("skill-logos/html.png"), class: 'skill-logo' %></span>
                <span class="skill-item">CSS 3 <%= image_tag asset_path("skill-logos/css3.png"), class: 'skill-logo' %></span>
            </li>
            <li class="skill-item-line" id="-skill-section">Workflow -- 
                <span class="skill-item">AGILE <%= image_tag asset_path("skill-logos/agile.png"), class: 'skill-logo' %></span>
                <span class="skill-item">Git <%= image_tag asset_path("skill-logos/git.png"), class: 'skill-logo' %></span>
                <span class="skill-item">Github <%= image_tag asset_path("skill-logos/github.png"), class: 'skill-logo' %></span>
                <span class="skill-item">Trello <%= image_tag asset_path("skill-logos/trello.png"), class: 'skill-logo' %></span>
            </li>
        </ul>
    </div> -->
</div>