<!DOCTYPE html>
<html>
  <head>
    <title>PersonalSite</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="<%= asset_path("favicon.ico") %>">
  </head>

  <body>
    <nav id="navbar">
      <div id="navbar-logo">
        <%= image_tag asset_path("header/v-logo.png"), id: "navbar-logo" %>
      </div>
        <ul class="navbar-links navbar-links-1">
          <li id="about-link"><a href="#">About</a></li>
          <li id="portfolio-link"><a href="#">Portfolio</a></li>
        </ul>
        <ul class="navbar-links navbar-links-2">
          <li id="blog-link"><a href="#">Blog</a></li>
          <li id="contact-link"><a href="#">Contact</a></li>
        </ul>   
        <div class="burger">
          <div id="line1"></div>
          <div id="line2"></div>
          <div id="line3"></div>
        </div>
      </div>
    </nav>

    <%= yield %>

    <% if Rails.env == "development" %>
      <div class="dev-info-panel minimized">
        <div id="minimize-toggle">
          <div class="line line1 minimized"></div>
          <div class="line line2 minimized"></div>
        </div>
        <div id="error-indicator" class="hidden">
          <div class="circle">
            <div class="line line1"></div>
            <div class="line line2"></div>
          </div>
        </div>
        <p>View Width : <span id="view-width-value"></span>px</p>
        <p>View Height: <span id="view-height-value"></span>px</p>
        <p>Screen Type: <span id="screen-type-value"></span></p>
      </div>

      <%= javascript_pack_tag 'dev-info-panel' %>
    <% end %>

    <%= javascript_pack_tag 'navbar' %>
  </body>
</html>
